.HomePage {
    display: grid;
    grid-template-columns: 25vw 70vw;
    grid-template-rows: 10vh 42vh 42vh;
    height: 96vh;
    width: 96vw;
    
    padding:2vh;
    gap: 1vh;
}
.name {
    justify-self: start;
    align-self: start;
    margin-left: 1rem;
    color: aqua;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    color:rebeccapurple;
}
.chat {
    justify-self: stretch;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;
}
.rooms {
    grid-row: 2 / 3;
    grid-column: 2 / 4;

}
.users{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}




